{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h1>{{ post.title }}</h1>
        <p>by {{ post.author }} | {{ post.date }}</p>
        <p>{{ post.body }}</p>
    </div>

    <a href="#" class="card-link">Like</a>
    <a href="#" class="card-link">Share</a>
    <a href="#" class="card-link">Comment</a>
    
    <p><a class="btn btn-primary" href="{% url 'post:post_update' post.pk %}">Edit</a> 
        <a class="btn btn-primary" href="{% url 'post:post_delete' post.pk %}">Delete</a>
    <a class="btn btn-primary" href="{% url 'post:post_list' %}">Back</a></p>
    

    
{% endblock content %}
