{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="card-body" style="text-align: center;">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend style="font-weight: bold;font-family: 'Times New Roman', Times, serif;
                    font-size: 40px;">
                    Create Post
                </legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock %}